@import url("https://fonts.googleapis.com/css?family=Passion+One:400,700,900");
@font-face {
  font-family: 'helveticaneuebold';
  src: url("../font/helvetica_neu_bold-webfont.woff2") format("woff2"), url("../font/helvetica_neu_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneueblackcond';
  src: url("../font/helveticaneue_blackcond-webfont.woff2") format("woff2"), url("../font/helveticaneue_blackcond-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuelight';
  src: url("../font/helveticaneue_light-webfont.woff2") format("woff2"), url("../font/helveticaneue_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../font/helveticaneue_medium-webfont.woff2") format("woff2"), url("../font/helveticaneue_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuethin';
  src: url("../font/helveticaneue_thin-webfont.woff2") format("woff2"), url("../font/helveticaneue_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneueregular';
  src: url("../font/helveticaneue-webfont.woff2") format("woff2"), url("../font/helveticaneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuebold';
  src: url("../font/helveticaneuebd-webfont.woff2") format("woff2"), url("../font/helveticaneuebd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneueheavy';
  src: url("../font/helveticaneuehv-webfont.woff2") format("woff2"), url("../font/helveticaneuehv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneueitalic';
  src: url("../font/helveticaneueit-webfont.woff2") format("woff2"), url("../font/helveticaneueit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuelight';
  src: url("../font/helveticaneuelt-webfont.woff2") format("woff2"), url("../font/helveticaneuelt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../font/helveticaneuemed-webfont.woff2") format("woff2"), url("../font/helveticaneuemed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  color: white;
  background-color: black;
  font-family: "helveticaneueregular", Helvetica, Arial, sans-serif; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: white;
    text-decoration: none; }

#home .container-brand {
  opacity: 0;
  visibility: hidden; }

#home .section-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100vw; }
  #home .section-container .container-text {
    height: 100vh;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #home .section-container .container-text h1 {
      margin: 20px auto;
      font-size: 28px;
      font-family: "helveticaneuemedium", Helvetica, Arial, sans-serif; }
    #home .section-container .container-text h3 {
      line-height: 130%;
      font-family: "helveticaneuelight", Helvetica, Arial, sans-serif;
      font-size: 18px; }
    #home .section-container .container-text .link {
      margin: 50px auto;
      position: relative;
      width: 100%; }
      #home .section-container .container-text .link a {
        font-family: "helveticaneuemedium", Helvetica, Arial, sans-serif;
        font-size: 20px;
        position: absolute;
        right: 0;
        text-align: right;
        border-bottom: 3px solid white; }
        #home .section-container .container-text .link a:hover {
          border-bottom: 3px solid white; }
          #home .section-container .container-text .link a:hover:after {
            position: absolute;
            top: 0;
            left: 0;
            content: 'click to see my cv';
            color: #0000ff;
            border-bottom: 3px solid #0000ff;
            -webkit-animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
                    animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px); }
  40% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px); }
  60% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px); }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 0; } }

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px); }
  40% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px); }
  60% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px); }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 0; } }

@-webkit-keyframes glitch1 {}

@keyframes glitch1 {}  #home .section-container .container-video {
    padding: 0; }
    #home .section-container .container-video .video {
      position: relative;
      height: 100vh;
      width: 100%;
      overflow: hidden; }
      #home .section-container .container-video .video img {
        z-index: 1; }
      #home .section-container .container-video .video img, #home .section-container .container-video .video video {
        position: absolute;
        top: 50%;
        right: 50%;
        -webkit-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
        width: auto;
        height: 100%; }

#work .container-work {
  padding: 100px;
  height: 100vh;
  width: 100vw;
  margin: 0; }
  #work .container-work .container-project .elt-project {
    position: relative;
    height: 100%; }
    #work .container-work .container-project .elt-project ul {
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0; }
      #work .container-work .container-project .elt-project ul .project-item {
        list-style: none;
        font-size: 65px;
        font-family: "helveticaneuebold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        line-height: 65px;
        text-align: right; }
        #work .container-work .container-project .elt-project ul .project-item .title-project {
          padding: 0 15px;
          white-space: nowrap;
          position: relative; }
          #work .container-work .container-project .elt-project ul .project-item .title-project:after {
            transition: ease-out .2s width;
            content: '';
            width: 0%;
            height: 13px;
            background-color: white;
            position: absolute;
            top: 50%;
            right: 0%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%); }
          #work .container-work .container-project .elt-project ul .project-item .title-project.active:after {
            transition: ease-out .2s width;
            width: 100%; }
  #work .container-work .container-image {
    margin: 0;
    padding: 0; }
    #work .container-work .container-image .elt-image {
      position: relative;
      width: 100%;
      height: 100%; }
      #work .container-work .container-image .elt-image img {
        transition: ease-in-out .3s opacity;
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: 75%; }
        #work .container-work .container-image .elt-image img.active {
          opacity: 1;
          transition: ease-in-out .5s opacity; }

#project .container-content {
  padding: 200px 0;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0; }
  #project .container-content .title {
    padding: 10px 0; }
    #project .container-content .title h1 {
      font-family: "helveticaneuemedium", Helvetica, Arial, sans-serif;
      font-size: 25px;
      text-align: center; }
  #project .container-content .description {
    padding: 10px 25px 50px 25px; }
    #project .container-content .description p {
      font-family: "helveticaneuemedium", Helvetica, Arial, sans-serif;
      font-size: 13px; }
    #project .container-content .description .link {
      text-align: right; }
      #project .container-content .description .link a {
        font-size: 15px;
        text-transform: uppercase;
        font-family: "helveticaneuebold", Helvetica, Arial, sans-serif;
        border-bottom: 2px solid white; }
  #project .container-content .container-images {
    padding: 0px 15px; }
    #project .container-content .container-images .col-image {
      padding: 0 25px 40px 25px; }
      #project .container-content .container-images .col-image img {
        width: 100%;
        height: auto; }
  #project .container-content .container-image {
    padding: 0px 15px; }
    #project .container-content .container-image img {
      width: 100%;
      height: auto; }
  #project .container-content .container-details {
    padding: 50px 15px; }
    #project .container-content .container-details .row {
      margin: 100px 0; }
    #project .container-content .container-details p {
      font-size: 13px;
      font-family: "helveticaneuemedium", Helvetica, Arial, sans-serif; }
    #project .container-content .container-details h2 {
      font-size: 40px;
      margin: 100px 0 60px 0;
      font-family: "helveticaneuebold", Helvetica, Arial, sans-serif;
      text-align: center; }
    #project .container-content .container-details .color {
      position: relative;
      width: 250px;
      height: 180px; }
      #project .container-content .container-details .color.blue {
        background-color: blue; }
      #project .container-content .container-details .color.yellow {
        background-color: #F9F906; }
      #project .container-content .container-details .color.gandi {
        background-color: #0FABAB; }
      #project .container-content .container-details .color .code-color {
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: -20%;
        font-family: "helveticaneuebold", Helvetica, Arial, sans-serif; }
    #project .container-content .container-details .charte {
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    #project .container-content .container-details .col-font {
      margin: 100px 0; }
      #project .container-content .container-details .col-font.col-margin-0 {
        margin: 0; }
      #project .container-content .container-details .col-font .font {
        font-size: 50px;
        line-height: 40px;
        text-transform: uppercase;
        font-family: "Passion One"; }
        #project .container-content .container-details .col-font .font.regular {
          font-weight: 400; }
        #project .container-content .container-details .col-font .font.bold {
          font-weight: 700; }
        #project .container-content .container-details .col-font .font.black {
          font-weight: 900; }
  #project .container-content .box-link {
    text-align: center; }
    #project .container-content .box-link a {
      padding: 5px 10px;
      color: black;
      font-family: "helveticaneueheavy", Helvetica, Arial, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      background-color: white;
      text-align: center; }

.container-navbar {
  z-index: 100;
  position: fixed;
  width: 100vw;
  min-height: 180px;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0; }
  .container-navbar .col-close, .container-navbar .col-name {
    margin: 0; }
  .container-navbar .container-close {
    padding: 0 100px; }
    .container-navbar .container-close .elt-close {
      display: block;
      position: relative;
      width: 35px;
      height: 35px; }
      .container-navbar .container-close .elt-close:before, .container-navbar .container-close .elt-close:after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #0000ff;
        position: absolute;
        top: 50%;
        left: 0; }
      .container-navbar .container-close .elt-close:before {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg); }
      .container-navbar .container-close .elt-close:after {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg); }
  .container-navbar .container-name {
    padding: 0 100px;
    text-align: right; }
    .container-navbar .container-name .elt-name {
      font-size: 60px;
      color: white;
      font-family: "helveticaneuebold", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      position: relative;
      padding: 0 20px; }
      .container-navbar .container-name .elt-name:after {
        transition: ease-out .2s width;
        content: '';
        width: 100%;
        height: 13px;
        background-color: white;
        position: absolute;
        top: 50%;
        right: 0%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }

.container-brand {
  z-index: 1000;
  left: 50px;
  top: 40px;
  position: absolute; }
  .container-brand .brand a {
    padding: 0 10px;
    position: relative;
    line-height: 45px;
    color: #0000ff;
    font-size: 50px;
    font-family: "helveticaneuebold", Helvetica, Arial, sans-serif; }
    .container-brand .brand a:before {
      transition: ease-out .2s width;
      content: '';
      width: 0;
      height: 7px;
      background-color: #0000ff;
      position: absolute;
      top: 50%;
      left: 0%; }
    .container-brand .brand a:hover {
      cursor: pointer; }
      .container-brand .brand a:hover:before {
        transition: ease-out .2s width;
        content: '';
        width: 100%;
        height: 7px;
        background-color: #0000ff;
        position: absolute;
        top: 50%;
        left: 0%; }

.loader-container {
  z-index: 1000;
  width: 100vw;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black; }
  .loader-container .elt-loader {
    line-height: 270px;
    white-space: nowrap;
    font-size: 250px;
    text-transform: uppercase;
    font-family: "helveticaneueheavy", Helvetica, Arial, sans-serif;
    color: #0000ff; }

.layer {
  position: fixed;
  left: 50px;
  bottom: 40px;
  font-family: "helveticaneuelight", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px; }
