.container-brand {
  z-index: 1000;
  left: 50px;
  top: 40px;
  position: absolute;

  @media screen and (max-width: 768px) {
    position: relative;
    left: 5%;
    max-width: calc(100% - 50px);
  }
  .brand {
    a {
      padding: 0 10px;
      position: relative;
      line-height: 45px;
      color: $blue;
      font-size: 50px;
      font-family: $bold;

      @media screen and (max-width: 768px) {
        padding: 0;
        &:before {
          display: none;
        }
      }

      @media screen and (max-width: 576px) {
        font-size: 33px;
        line-height: 30px;
      }

      &:before {
        transition: ease-out .2s width;
        content: '';
        width: 0;
        height: 7px;
        background-color: $blue;
        position: absolute;
        top: 50%;
        left: 0%;
      }

      &:hover, &.active {
        cursor: pointer;
        &:before {
          transition: ease-out .2s width;
          content: '';
          width: 100%;
          height: 7px;
          background-color: $blue;
          position: absolute;
          top: 50%;
          left: 0%;
        }
      }
    }
  }
}
