.container-navbar {
  z-index: 100;
  position: fixed;
  width: 100vw;
  min-height: 180px;
  align-items: center;
  margin: 0;
  padding: 0 100px;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  @media screen and (max-width: 768px) {
    padding: 25px 2%;
    align-items: baseline;
    min-height: 100px;
  }

  .col-close, .col-name {
    margin: 0;
  }
  .container-close {
    .elt-close {
      display: block;
      position: relative;
      width: 35px;
      height: 35px;

      &:before, &:after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $blue;
        position: absolute;
        top: 50%;
        left: 0;
      }
      &:before {
        transform: translateY(-50%) rotate(45deg);
      }
      &:after {
        transform: translateY(-50%) rotate(-45deg);
      }

    }
  }

  .container-name {
    text-align: right;

    .elt-name {
      padding: 0 20px;
      font-size: 60px;
      color: white;
      font-family: $bold;
      text-transform: uppercase;
      position: relative;
      &:after {
        transition: ease-out .2s width height;
        content: '';
        width: 0%;
        height: 13px;
        background-color: white;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        animation: line .5s ease-in-out .5s forwards;
        @keyframes line {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
      }
      @media screen and (max-width: 992px) {
        font-size: 40px;
      }

      &.resize {
        transition: ease-in-out .3s padding;
        padding: 0 10px;
        &:after {
          transition: ease-in-out .3s height;
          height: 9px;
        }
      }
    }
  }
}
