@font-face {
    font-family: 'helveticaneuebold';
    src: url('../font/helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('../font/helvetica_neu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helveticaneueblackcond';
    src: url('../font/helveticaneue_blackcond-webfont.woff2') format('woff2'),
         url('../font/helveticaneue_blackcond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helveticaneuelight';
    src: url('../font/helveticaneue_light-webfont.woff2') format('woff2'),
         url('../font/helveticaneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../font/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('../font/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuethin';
    src: url('../font/helveticaneue_thin-webfont.woff2') format('woff2'),
         url('../font/helveticaneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneueregular';
    src: url('../font/helveticaneue-webfont.woff2') format('woff2'),
         url('../font/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuebold';
    src: url('../font/helveticaneuebd-webfont.woff2') format('woff2'),
         url('../font/helveticaneuebd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneueheavy';
    src: url('../font/helveticaneuehv-webfont.woff2') format('woff2'),
         url('../font/helveticaneuehv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneueitalic';
    src: url('../font/helveticaneueit-webfont.woff2') format('woff2'),
         url('../font/helveticaneueit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuelight';
    src: url('../font/helveticaneuelt-webfont.woff2') format('woff2'),
         url('../font/helveticaneuelt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../font/helveticaneuemed-webfont.woff2') format('woff2'),
         url('../font/helveticaneuemed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
