#home {

  .container-brand {
    opacity: 0;
    visibility: hidden;
  }

  .section-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100vw;

    .container-text {
      height: 100vh;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 768px) {
        height: 100%;
        align-items: baseline;
        margin: 20px auto 100px auto;
      }

      h1 {
        margin: 20px auto;
        font-size: 28px;
        font-family: $medium;
      }
      h3 {
        line-height: 130%;
        font-family: $light;
        font-size: 18px;
      }
      .link {
        margin: 50px auto;
        position: relative;
        width: 100%;
        a {
          font-family: $medium;
          font-size: 20px;
          position: absolute;
          right: 0;
          text-align: right;
          border-bottom: 3px solid white;
          &:hover {
            border-bottom: 3px solid white;
            &:after {
              position: absolute;
              top: 0;
              left: 0;
              content: 'click to see my cv';
              color: $blue;
              border-bottom: 3px solid $blue;
              animation: glitch .5s cubic-bezier(.25, .46, .45, .94) both infinite;
            }

            @keyframes glitch {
              0% {
                  transform: translate(0)
              }
              20% {
                  transform: translate(-1px, 1px)
              }
              40% {
                  transform: translate(-1px, -1px)
              }
              60% {
                  transform: translate(1px, 1px)
              }
              80% {
                  transform: translate(1px, -1px)
              }
              100% {
                  transform: translate(0);
                  opacity: 0;
              }
            }
            @keyframes glitch1 {

            }
          }
        }
      }
    }

    .container-video {
      padding: 0;
      .video {
        @media screen and (max-width: 768px) {
          width: 90%;
          margin: auto;
        }
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        img {
          z-index: 1;
        }
        img, video {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          width: auto;
          height: 100%;
          @media screen and (max-width: 768px) {
            height: 80%;
          }
        }
      }
    }




  }


}
