#work {

  .container-work {
    padding: 100px;
    height: 100vh;
    width: 100vw;
    margin: 0;

    .container-project {
      .elt-project {
        position: relative;
        height: 100%;
        ul {
          margin: 0;
          position: absolute;
          bottom: 0;
          right: 0;
          .project-item {
            list-style: none;
            font-size: 65px;
            font-family: $bold;
            text-transform: uppercase;
            line-height: 65px;
            text-align: right;
            .title-project {
              padding: 0 15px;
              white-space: nowrap;
              position: relative;
              &:after {
                transition: ease-out .2s width;
                content: '';
                width: 0%;
                height: 13px;
                background-color: white;
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translateY(-50%);
              }
              &.active {
                &:after {
                  transition: ease-out .2s width;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .container-image {
      margin: 0;
      padding: 0;

      .elt-image {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          transition: ease-in-out .3s opacity;
          opacity: 0;
          position: absolute;
          left: 0;
          bottom: 0;
          height: auto;
          width: 75%;

          &.active {
            opacity: 1;
            transition: ease-in-out .5s opacity;
          }
        }
      }
    }


  }

}
